<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Test"</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('hello') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('test') }}">Spieler Formular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('team_formular') }}">Team Formular</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="m-3">
    <h1>Hallo {{ name }}</h1>


  <h2>Team Tabelle</h2>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
    <th scope="col">Name</th>
    <th scope="col">Gespielte Spiele</th>
    <th scope="col">Tore geschossen</th>
    <th scope="col">Tore erhalten</th>
    <th scope="col">Punkte</th>
    <th scope="col">Punkte pro Spiel</th>
    <th scope="col">Punkteausbeute (%)</th>
    </thead>
    <tbody>
    {% for team in teamliste %}
    <tr>
      <td>{{ team[0] }}</td>
      <td>{{ team[1] }}</td>
      <td>{{ team[2] }}</td>
      <td>{{ team[3] }}</td>
      <td>{{ team[4] }}</td>
    </tr>
    {% endfor %}
</tbody>
  </table>

    <!--Tabelle die Ligatopscorer zeigt also Skorer mit den meisten Goals und Assists zusammen-->

    <h2>Liga Topscorers</h2>
  <table class="table table-hover table-striped">
  <thead class="thead-dark">
    <th scope="col">Name</th>
    <th scope="col">Team</th>
    <th scope="col">Spiele</th>
    <th scope="col">Goals</th>
    <th scope="col">Assists</th>
    <th scope="col">Punkte</th>
    <th scope="col">Punkte pro Spiel</th>
  </thead>

  <tbody>
    {% for spieler in spielerliste %}
    <tr>
      <td>{{ spieler[0] }}</td>
      <td>{{ spieler[1] }}</td>
      <td>{{ spieler[2] }}</td>
      <td>{{ spieler[3] }}</td>
      <td>{{ spieler[4] }}</td>
      <td>{{ spieler[5] }}</td>
    </tr>
    {% endfor %}
</tbody>
    </table>

    <!--Tabelle die die besten Goalscorer zeigt, Spieler mit den meisten Goals oben-->

<h2>Goalscorer Tabelle</h2>
    <table class="table table-hover">
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Spiele</th>
    <th>Goals</th>
  </tr>
  <tr>
    <td>Alex Ovechkin</td>
    <td>Washington Capitals</td>
    <td>12</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Patrick Kane</td>
    <td>Chicago Blackhawks</td>
    <td>13</td>
    <td>9</td>
  </tr>
    </table>

<!--Tabelle die die besten Assistgeber zeigt, Spieler mit den meisten Assists oben-->

<h2>Assists Tabelle</h2>
    <table class="table table-hover">
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Spiele</th>
    <th>Assists</th>
  </tr>
  <tr>
    <td>Evgeni Kusnetzov</td>
    <td>Washington Capitals</td>
    <td>10</td>
    <td>14</td>
  </tr>
  <tr>
    <td>Alex Debricant</td>
    <td>Chicago Blackhawks</td>
    <td>16</td>
    <td>12</td>
  </tr>
    </table>

  <!-- Tabelle soll Teamtabelle nach punkten der Teams sortiert zeigen -->


</div>
</body>
</html>