<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Test"</title>
  <!-- Zum styling der page wurde bootstrap verwendet, da es die gestaltung von css wesentlich vereinfacht.
   Mein Ansatz ist es die Seite übersichtlich und schlicht zu gestalten.-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<!-- navbar enthält die 3 erstellten pages und dient als navigation - aufgerufene seite erscheint heller als die anderen -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('hello') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('test') }}">Spieler Formular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('team_formular') }}">Team Formular</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="m-3">

  <!-- die Tabelle zeigt die im Teamformular eingefügten Teams sortiert nach Punkten von oben nach unten-->
  <h2>Tabelle<small class="text-muted"> National League</small></h2>
  <form method="post">
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
    <th scope="col">Name <input class="btn btn-secondary" type="submit" name="name" value="sort"> </th>
    <th scope="col">Gespielte Spiele <input class="btn btn-secondary" type="submit" name="gespielte_spiele" value="sort"></th>
    <th scope="col">Tore geschossen <input class="btn btn-secondary" type="submit" name="tore_geschossen" value="sort"></th>
    <th scope="col">Tore erhalten <input class="btn btn-secondary" type="submit" name="tore_erhalten" value="sort"></th>
    <th scope="col">Punkte <input class="btn btn-secondary" type="submit" name="punkte_gemacht" value="sort"></th>
    <th scope="col">Punkte pro Spiel <input class="btn btn-secondary" type="submit" name=punkte_pro_spiel value="sort"></th>
    <th scope="col">Punkteausbeute (%) <input class="btn btn-secondary" type="submit" name=punkteausbeute value="sort"></th>
    </thead>
    <tbody>
    {% for team in teamliste %}
    <tr>
      <td>{{ team[0] }}</td>
      <td>{{ team[1] }}</td>
      <td>{{ team[2] }}</td>
      <td>{{ team[3] }}</td>
      <td>{{ team[4] }}</td>
      <td>{{ team[5] }}</td>
      <td>{{ team[6] }}%</td>

    </tr>
    {% endfor %}
</tbody>
  </table>
    </form>

    <!--Tabelle die Ligatopscorer zeigt also Skorer mit den meisten Goals und Assists zusammen, sortiert nach Punkten von oben nach unten-->

    <h2>Liga Topscorers</h2>
  <form method="post">
  <table class="table table-hover table-striped">
  <thead class="thead-dark">
    <th scope="col">Name <input class="btn btn-secondary" type="submit" name="name" value="sort"></th>
    <th scope="col">Team <input class="btn btn-secondary" type="submit" name="team" value="sort"></th>
    <th scope="col">Spiele <input class="btn btn-secondary" type="submit" name="spiele" value="sort"></th>
    <th scope="col">Goals <input class="btn btn-secondary" type="submit" name="goals" value="sort"></th>
    <th scope="col">Assists <input class="btn btn-secondary" type="submit" name="assists" value="sort"></th>
    <th scope="col">Punkte <input class="btn btn-secondary" type="submit" name="punkte" value="sort"></th>
    <th scope="col">Punkte pro Spiel <input class="btn btn-secondary" type="submit" name="punkte_p_spiel" value="sort"></th>
  </thead>

  <tbody>
    {% for spieler in spielerliste %}
    <tr>
      <td>{{ spieler[0] }}</td>
      <td>{{ spieler[1] }}</td>
      <td>{{ spieler[2] }}</td>
      <td>{{ spieler[3] }}</td>
      <td>{{ spieler[4] }}</td>
      <td>{{ spieler[5] }}</td>
      <td>{{ spieler[6] }}</td>
    </tr>
    {% endfor %}
</tbody>
    </table>
     </form>

</div>
</body>
</html>