<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spieler Formular</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('hello') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('test') }}">Spieler Formular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('team_formular') }}">Team Formular</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form method="POST" class="m-5 w-25">
  <h2>Team erfassen</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">Team Name</label>
    <input type="text" class="form-control" name="team_name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="daten eintragen">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Gespielte Spiele</label>
    <input type="text" name="gespielte_spiele" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Tore geschossen</label>
    <input type="text" name="tore_geschossen" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Tore erhalten</label>
    <input type="text" name="tore_erhalten" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
  </div>


  <div class="form-group">
    <label for="exampleInputEmail1">Punkte</label>
    <input type="text" name="punkte_gemacht" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>